body {
    margin: 24px;
font-family: 'Noto', sans-serif;
font-size: 16px;
line-height: 20px;
background-color: lightblue;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

a {
    font-weight: bold;
    color: blue;
}

button {
border-radius: 4px;
padding: 16px;
background-color: white;
font-size: 16px;
border: none;
text-decoration: none;
display: inline-block;
}

button:hover {
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24);    
}

button:active {
    background-color: lightcyan;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);    
    transform: translateY(2px);